#footer{
    display: none;
}
#forms{
    background-color: 
    #e1a872;
    margin-top: 3vw;
   
   
}
.form-control title{
    display: none;
}
#register{
    margin-left: 30vw;
}
#one{
    margin-left: 30vw;
    margin-top: 8vw;
}
#all{
    background-color: white;
    margin-top: 2vw;
}